<!--アニメーション-->
<div id="loading">
  <div id="loading_box">
    <div class="loading-one animation_loading">
      <p class="loading-txt">NowLoading<br>※必ずスペースキーを押してから始めてください</p>
    </div>
  </div>
</div>


  <div class="wrapper">
     <div class="row contentWidth">
             <div class="container">
          <div class="row">
        <div class="bread col-9 col-s-10" style="margin-top: 25px;">
         <div class="bread__inner">
           <ul>
             <li class="bread__li"><%= link_to "Home", root_path %></li>
             <li class="bread__li"><%= link_to "category", categories_path %></li>
             <li class="bread__li"><%= link_to @category.name, categories_path %></li>
           </ul>
         </div>
        </div>

        <div class="level col-3 col-s-10 pl-s10 pr-s10" style="margin-top: 10px;">
          <div class="dispPoint">
            <div class="row">
              <div class="col-5">
                <p class="user_name"><%= @user.name %></p>
                <p class="user_name">Lv. <%= @user.level%></p>
              </div>
              <div class="col-7">
                <p class="my_cat_rank">☆☆☆☆☆</p>
                <p class="my_point">EX. <%= @user.experience_point %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
        
        <div class="container">
          <div class="row">
            <div class="col-xs-6 q_list">
              <div class="start-message">
                <p class="blinking" id="yomi">「スペースキー」を押すとスタートします</p>
              </div>
                <% @questions_json.each_with_index do |question, idx| %>
                  <div id="question-<%= idx %>" class="questions-item" style="<%= idx == 0 ? '' : 'display: none;' %>">
                    <div class="problem">問題 :<%= question.problem %></div>
                      <p class="c-nav"><%= idx + 1 %> / 10 問</p>
                      <div class="previewArea__wrap">
                        <%= attachment_image_tag question, :problem_image, size: "800x390", fallback: "giphy.gif" %>
                      </div>
                    </div>
                <% end %>
                        
                <div class="inputarea">
                  <!--ヒントの表示-->
                  <p id="target" class="display"></p>
                    <!--トーストの表示-->
                    <div  style="display: none;"></div>
                    <div id="command" style="display: none;"></div>
                    <!--入力されているキーの表示-->
                    <div id="input" class="display"></div>
                </div>
                        
                <!--終了時に表示されるメッセージ-->
                
                  <div class="mb15">
                    <div class="card finish" id="main" style="display: none;">お疲れ様でした。
                      <div id="time-message"></div>
                        <p><%= link_to "Retry", categories_path, class:"btn btn-primary" %></p>
                          <p><%= link_to "トップ画面へ戻る", root_path, class:"btn btn-info" %></p>
                            <div id="time-message"></div>
                              獲得経験値: <span id="answer"></sapn>
                    </div>
                  </div>
                
                <!--右のメニュー-->
                <div class="rightnav col-3 col-xs-5" id="rightber" style="'display: none;'">
                  <div class="rightnav__inner">
                    <div id="switch"></div>
                      <div class="preList_wrap">
                        </div>
                      </div>
                    </div>
                  </div>
            
                  <div class="card" style="width: 18rem;">
                    <!---左のナビバー-->
                    <div class="leftnav col-xs-5" id="leftber">
                      <div class="col-xs-1 justify-content" style="text-align:center;">
                        <h4>Command</h4>
                      </div>
                        <p class="c-nav">Win / ⌘ - Command</p>
                        <p class="c-nav">Alt / ⌥ - Option</p>
                        <p class="c-nav">Shift / ⇧ - Shift</p>
                        <p class="c-nav">⌃ - Control</p>
                        <p class="c-nav">⏎ - Enter </p>
                        <p class="c-nav">⌫ - Backspace</p>
                          <h4 class="c-nav">Stop Command</h4>
                            <div class="preList_wrap">
                              <ul class="preList">
                               <li>Mac/Windowsは<br>下記を同時に<br>押さないでください</li>
                               <li> Ctrl / ⌘ + W </li>
                               <li> Ctrl / ⌘ + Q </li>
                               <span id="center" style='display: none;'></span>
                              </ul>
                            </div>
                            <div class="mt20"></div>
                              <aside class>
                                <ul>
                                  <%= link_to "コマンド説明", commands_path, class:"btn btn-primary" %>
                                </ul>
                                <ul>
                                  <!--ヒント機能-->
                                  <div id="click">
                                    <div id="btn_center">
                                      <input type="button" id="hyouji" value="ヒントON">
                                    </div>
                                  </div>
                                </ul>
                              </aside>
                            </div>
                    </div>
                  </div>
      </div>
    </div>
    
  <!--jsにデータを渡している-->
  <h3>
    <input type="hidden" id="questions_json" value="<%= @questions_json.to_json %>">
    <input type="hidden" id="pc_type" value="<%= @pc_type %>">
  </h3>
  
<%= javascript_include_tag 'questions.js' %>

