<div class="wrapper fullheight" style="height: auto !important;">
     <div class="row contentWidth">
        
        <div class="bread col-9 col-s-10" style="margin-top: 20px;">
         <div class="bread__inner">
           <ul>
             <li class="bread__li"><%= link_to "Home", root_path %></li>
             <li class="bread__li"><%= link_to "category", categories_path %></li>
             <li class="bread__li"><%= link_to @category.name, categories_path %></li>
           </ul>
         </div>
              <div class="mb15">
      <div class="finish" id="main" style="display: none;">終了しました。
         <div id="time-message"></div>
        <div><%= link_to "Retry" %></div>
        <div><%= link_to "" %></div>
      </div>
      <div class="start-message" >
        <div id="content"> 
          <p class="blinking" id="yomi">「スペースキー」を押すとスタートします</p>
        </div>
      </div>
    </div>
        </div>

           <div class="level col-3 col-s-10 pl-s10 pr-s10" style="margin-top: 5px;">
             <div class="dispPoint">
               <div class="row">
                 <div class="col-5">
                  <p class="user_name"><%= @user.name %></p>
                  <p class="user_name">Lv. <%= @user.level%></p>
                 </div>
                 <div class="col-7">
                  <p class="my_cat_rank">☆☆☆☆☆</p>
                  <p class="my_point">EX. <%= @user.experience_point %></p>
                 </div>
               </div>
             </div>
           </div>
          </div>
        <div class="card" style="width: 80rem;">
         <div class="content row" style="height: auto !important;">
            <div class="mx-auto test-box">
          <div class="row justify-content-around" style="margin-top: 10px;">
            <div class="leftnav col-2" id="leftber">
              <div class="col-xs-12">
                <h3>Command</h3>
              </div>
                <p>Ctrl / ⌘ - Command</p>
                <p>Alt / ⌥ - Option</p>
                <p>Shift /  ⇧ - Shift</p>
                <p>⌃ - Control</p>
                <p>⏎ - Enter </p>
                <p>/Delete Fn + ⌫</p>
            </div>
            
              <div class="col-6">
                <div class="main__inner">
                    <div class="question__wrap">
                      <% @questions_json.each_with_index do |question, idx| %>
                        <div id="question-<%= idx %>" class="questions-item" style="<%= idx == 0 ? '' : 'display: none;' %>">
                          <span class="problem">問題 :<%= question.problem %></sapn>
                          
                          <span class="number_questions"><%= idx + 1 %> / 10</span>
                            <div class="previewArea__wrap">
                              <%= attachment_image_tag question, :problem_image, size: "545x300", fallback: "giphy.gif" %>
                            </div>
                            <!--<div class="box_head">-->
                          <div class="display" id="input">  <%= question.display_key %></div>   
                          <div id="display" ><%= question.display_key %></div>
                          <!--<span id="right" style='display: none;'></span>-->
                        </div>
                      <% end %>
                        <div class="inputarea">
                         <div  style="display: none;"></div>
                         <div id="command" style="display: none;"></div>
                        </div>
                    </div>
                </div>
                
              </div>
              <div class="rightnav col-3 col-xs-5" id="rightber">
                <div class="rightnav__inner">
                  <h3>Stop Command</h3>
                  <div class="preList_wrap">
                    <ul class="preList" style="top: 8opx;">
                      <li>Mac下記を同時に押さないでください</li>
                      <li>⌘ + W, ⌘ + Q </li>
                      <span id="center" style='display: none;'></span>
                      <li><div id="answer"></div></li>
                    </ul>
                  </div>
                  <div id="switch"></div>
                    <div class="preList_wrap">
                      <h5>コマンド説明はこちら</h5>
                      <div class="mt20"></div>
                        <aside class>
                        <ul class>
                          <!--<li class="sidebar__rank__li">-->
                          <%= link_to "コマンド一覧", commands_path, class:"btn btn-primary"%>
                          <!--</li>-->
                        </ul>
                        </aside>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             </div>
            </div>

        
               
          </div>     
        </div>
  </div>
</div>
    
  
  
  <!--jsにデータを渡している-->
        <input type="hidden" id="questions_json" value="<%= @questions_json.to_json %>">
        <input type="hidden" id="pc_type" value="<%= @pc_type %>">
        <!--<input type="hidden" id="user_id" value="<= @user_id %>">-->
<!--  </div>-->

<%= javascript_include_tag 'questions.js' %>

