<!--アニメーション-->
<div id="loading">
  <div id="loading_box">
    <div class="loading-one animation_loading">
      <p class="loading-txt">NowLoading<br>※必ずスペースキーを押してから始めてください</p>
    </div>
  </div>
</div>

<div class="wrapper fullheight">
     <div class="row contentWidth">

        <div class="bread col-9 col-s-10" style="margin-top: 20px;">
         <div class="bread__inner">
           <ul>
             <li class="bread__li"><%= link_to "Home", root_path %></li>
             <li class="bread__li"><%= link_to "category", categories_path %></li>
             <li class="bread__li"><%= link_to @category.name, categories_path %></li>
           </ul>
         </div>
        </div>


           <div class="level col-3 col-s-10 pl-s10 pr-s10" style="margin-top: 5px;">
             <div class="dispPoint">
               <div class="row">
                 <div class="col-5">
                  <p class="user_name"><%= @user.name %></p>
                  <p class="user_name">Lv. <%= @user.level%></p>
                 </div>
                 <div class="col-7">
                  <p class="my_cat_rank">☆☆☆☆☆</p>
                  <p class="my_point">EX. <%= @user.experience_point %></p>
                 </div>
               </div>
             </div>
           </div>
          </div>
        <div class="card" style="width: 80rem;">
         <div class="content row">
            <div class="mx-auto test-box">
          <div class="row justify-content-around" style="margin-top: 10px;">
            <!---左のナビバー-->
            <div class="leftnav col-3 col-xs-5" id="leftber">
              <div class="col-xs-1 justify-content" style="text-align:center;">
                <h3>Command</h3>
              </div>
                <p class="c-nav">Ctrl / ⌘ - Command</p>
                <p class="c-nav">Alt / ⌥ - Option</p>
                <p class="c-nav">Shift /  ⇧ - Shift</p>
                <p class="c-nav">⌃ - Control</p>
                <p class="c-nav">⏎ - Enter </p>
                <p class="c-nav">Delete / Fn + ⌫</p>

            </div>
            <!--問題表示-->
              <div class="col-6">
                <div class="main__inner">
                    <div class="question__wrap">
                      <div class="start-message" >
                      <p class="blinking" id="yomi">「スペースキー」を押すとスタートします</p>
                      </div>
                      <% @questions_json.each_with_index do |question, idx| %>
                        <div id="question-<%= idx %>" class="questions-item" style="<%= idx == 0 ? '' : 'display: none;' %>">
                          <!--<p><= question.id %></p>-->
                          <div class="problem">問題 :<%= question.problem %></div>

                          <p class="c-nav"><%= idx + 1 %> / 10 問</p>
                            <div class="previewArea__wrap">
                              <%= attachment_image_tag question, :problem_image, size: "545x300", fallback: "giphy.gif" %>
                            </div>
                            
                          <!--<p class="display"><= question.display_key %></p>-->
                          <div id="dis">Fight!!!</div>
                        </div>
                      <% end %>
                        <div class="inputarea">
                         <div  style="display: none;"></div>
                         <div id="command" style="display: none;"></div>
                         <p id="input" class="display"></p>
                         <div id="output"></div>
                        </div>
                        
                        <!--終了時に表示されるメッセージ-->
                           <div class="mb15">
                            <div class="finish" id="main" style="display: none;">お疲れ様でした。
                               <div id="time-message"></div>

                              <div><%= link_to "Retry", categories_path, class:"btn btn-primary" %></div>
                              <div><%= link_to "トップ画面へ戻る", root_path, class:"btn btn-info" %></div>
                              <div id="time-message"></div>
                              獲得経験値: <span id="answer"></sapn>
                            </div>
                           </div>
                    </div>
                </div>
              </div>
              <!--右のメニュー-->
              <div class="rightnav col-3 col-xs-5" id="rightber" style="'display: none;'">
                <div class="rightnav__inner">
                  <h3 class="c-nav">Stop Command</h3>
                  <div class="preList_wrap">
                    <ul class="preList" style="top: 8opx;">
                      <li>Mac/Windows<br>は下記を同時に押さないでください</li>
                      <li> Ctrl / ⌘ + W </li>
                      <li> Ctrl / ⌘ + Q </li>
                      <span id="center" style='display: none;'></span>
                    </ul>
                  </div>
                  <div id="switch"></div>
                    <div class="preList_wrap">
                      <h5 class="c-nav">↓↓コマンド説明</h5>
                      <div class="mt20"></div>
                        <aside class>
                        <ul class>
                          <%= link_to "こちら", commands_path, class:"btn btn-primary" %>
                        </ul>
                        </aside>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             </div>
            </div>
      </div>
    </div>
  </div>
</div>


  <!--jsにデータを渡している-->
  <h2>
    <input type="hidden" id="questions_json" value="<%= @questions_json.to_json %>">
    <input type="hidden" id="pc_type" value="<%= @pc_type %>">
  </h2>
<%= javascript_include_tag 'questions.js' %>

