<div class="container">
  <table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th></th>
            <th>Last Name</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        <!-- 行全体を灰色に -->
        <tr class="active">
            <th>1</th>
            <td>Hanako</td>
            <td>Qiita</td>
            <td>@Hanaq</td>
        </tr>
        <tr>
            <!-- 各セル毎に背景色を変更 -->
            <th class="success">2</th>
            <td class="info">Taro</td>
            <td class="danger">Qiita</td>
            <td class="warning">@TaroQ</td>
        </tr>
    </tbody>
</table>
  <h2>Mypage</h2>

<h3>プロフィール画像</h3>
<%= attachment_image_tag @user, :profile_image_id, size: "100x100", fallback: "no_image.jpg"%>

<h3>名前</h3>
<%= @user.name %>

<h3>レベル</h3>
<h3>Lv. <%= @user.level %></h3>

<h3>経験値</h3>
 <h3>EXP. <%= @user.experience_point %></h3><br>

<%= link_to "編集", edit_user_path(@user),  class:"fas fa-cog fa-lg" %>
</div>