<div class="container">
 <div class="card-deck">
  <div class="card"  style="width: 30rem;">
   <h3>Mypage</h3>
    <h3 id="profile-img" class="profile-img-card">
    <%= attachment_image_tag @user, :profile_image, size: "140x140", fallback: "no_image.jpg"%>
    </h3>
    <p id="profile-name" class="profile-name-card"></p>

    <table class="table">
       <tr>
        <th>名前</th>
        <th><%= @user.name %></th>
       </tr>

      <tr>
        <th>レベル</th>
        <th>Lv. <%= @user.level %></th>
      </tr>
      <tr>
        <th>経験値</th>
       <th>EXP. <%= @user.experience_point %></th>
      </tr>
      <tr>
        <th><%= link_to "編集する", edit_user_path(@user),  class:"btn btn-info btn-block" %></th>
        <th><%= link_to "練習する", categories_path, class:"btn btn-primary btn-block"%></th>
      </tr>
    </table>
  </div>


 <div class="card"  style="width: 30rem;">
  <h2>BookMark-List</h2>
<% if @like_questions.present? %>
    <table class="table table-hover" style="table-layout:fixed">
      <thead>
        <tr>
          <th>基本的な編集</th>
          <th>コマンド</th>
        </tr>
      </thead>
        <tbody>
          <% @like_questions.each do |likes| %>
  
          <tr id="question_<= question.id %>">
            <td><%=link_to likes.problem, command_path(likes.id) %></td>
            <td><%= likes.display_key %></td>
            <!--<td><= render 'likes/like', question: question %></td>-->
          </tr>
        </tbody>
          <% end %>
      </table>
    </div>
  </div>
<% else %>
<% end %>
</div>


  <%= javascript_include_tag 'like.js' %>