  <div class="container">
  <h2>Questions-List</h2>

  <table class="table table-hover" style="table-layout:fixed">
    <thead>
      <tr>
        <th scope="col">Category-No.</th>
        <th scope="col">Problem</th>
        <th scope="col">Command</th>
        <th scope="col">Synchro_key</th>
        <th scope="col">Answer_key</th>
        <th scope="col">Pc_type</th>
      </tr>
    </thead>
      <tbody>
        <% @questions.each do |question| %>
        
        <tr id="question_<= question.id %>">
          <td><%= question.category_id %></td>
          <td><%= question.problem %></td>
          <td><%= question.display_key %></td>
          <td><%= question.synchro_key %></td>
          <td><%= question.answer_key %></td>
          <td><%= question.pc_type %></td>
        </tr>
      </tbody>
      <% end %>
  </table>
</div>