  <div class="container marketing">
    <div class="text-center">
      <div class="mx-auto" style="width: 800px;">
    <% @categories.each do |category| %>
      <h2><%= category.name %></h2>
        <p><b>プログラマーやコーダーにとって欠かせないエディター</b></p>
    
        <div class="col-lg-4">
          <%= link_to questions_path(category_id: category.id) do %>
            <div class="card" style="width: 50rem;">
              <div class="card-body">
                <h4 class="card-text link">最初に覚えておくべき超絶便利なショートカット
                <br>重要度★★★★★</h4>
              </div>
            </div>
          <% end %>
        </div>
          
          
        <div class="col-lg-4">
          <%= link_to questions_path(category_id: category.id) do %>
            <div class="card" style="width: 50rem;">
              <div class="card-body">
                <h4 class="card-text">覚えておくと便利なショートカット
                <br>重要度★★★★</h4>
              </div>
            </div>
          <% end %>
        </div>
    <% end %>
        <p><%= link_to "コマンド解説一覧へ", commands_path, class:"btn btn-outline-info" %></p>
        <p><%= link_to "ホーム画面に戻る", root_path, class:"btn btn-outline-dark" %></p>
      </div>
    </div>
  </div>