<div class="container">
  <h2>コマンド一覧</h2>

  <table class="table table-hover" style="table-layout:fixed">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">基本的な編集</th>
        <th scope="col">コマンド</th>
        <th></th>
      </tr>
    </thead>
      <tbody>
        <% @questions.each do |question| %>
      <tr id="question_<%= question.id %>">
        <td><%= question.id %></td>
        <td><%= link_to question.problem, command_path(question.id) %></td>
        <td style="font-size: 20px;"><%= question.display_key %></td>
        <td><%= render 'likes/like', question: question %></td>
      </tr>
    </tbody>
    
    <% end %>
    
  </table>
</div>