<h2>Command-Practice</h2>
        <!--問題表示-->
        <div class="container">
          <div class="row">
            <div class="col-xs-6 q_list">
              <div class="problem">問題 :<%= @questions_json.problem %></div>
                <div class="previewArea__wrap">
                  <%= attachment_image_tag @questions_json, :problem_image, size: "800x400", fallback: "giphy.gif" %>
                </div>
                  <p class="display"><%= @questions_json.display_key %></p>
                    
                  <div class="inputarea">
                    <!--ヒントの表示-->
                    <p id="target" class="display"></p>
                    <!--トーストの表示-->
                      <div  style="display: none;"></div>
                      <div id="command" style="display: none;"></div>
                      <!--入力されているキーの表示-->
                      <div id="input" class="display"></div>
                  </div>
            </div>
            
              <div class="card" style="width: 18rem;">
                <!--ナビバー-->
                <div class="leftnav col-xs-5" id="leftber">
                  <div class="col-xs-1 justify-content" style="text-align:center;">
                    <h4>Command</h4>
                      </div>
                        <p class="c-nav">Win / ⌘ - Command</p>
                        <p class="c-nav">Alt / ⌥ - Option</p>
                        <p class="c-nav">Shift / ⇧ - Shift</p>
                        <p class="c-nav">⌃ - Control</p>
                        <p class="c-nav">⏎ - Enter </p>
                        <p class="c-nav">⌫ - Backspace</p>
                          <h4 class="c-nav">Stop Command</h4>
                            <div class="preList_wrap">
                              <ul class="preList" style="top: 8opx;">
                               <li>Mac/Windowsは<br>下記を同時に<br>押さないでください</li>
                               <li> Ctrl / ⌘ + W </li>
                               <li> Ctrl / ⌘ + Q </li>
                               <span id="center" style='display: none;'></span>
                              </ul>
                            </div>
                            <div class="mt20"></div>
                              <aside class>
                                <ul>
                                  <%= link_to "コマンド説明", commands_path, class:"btn btn-primary" %>
                                </ul>
                              </aside>
                            </div>
                          </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
    
    <h3>
      <input type="hidden" id="questions_json" value="<%= @questions_json.to_json %>">
      <input type="hidden" id="pc_type" value="<%= @pc_type %>">
    </h3>
<%= javascript_include_tag 'commands.js' %>