<header>
  <nav class="header-nav navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand p-4" href="/">Command_master</a>
      <% if user_signed_in? %>
        <span>ようこそ！<%= current_user.name %>さん</span>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <nav class="navbar-nav col-9 col-s-10">
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to "練習する", questions_path %></li>
          <li class="nav-item"><%= link_to "HOME", root_path %></li>
          <li class="nav-item"><%= link_to "MY PAGE", user_path(current_user) %></li>
          <li class="nav-item"><%= link_to "MAIL", inquiry_path %></li>
          <li class="nav-item"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% elsif admin_signed_in? %>
          <li class="nav-item"><%= link_to "会員一覧" %></li>
          <li class="nav-item"><%= link_to "問題一覧" %></li>
          <li class="nav-item"><%= link_to "問題登録" %></li>
          <!--<li class="nav-item"><= link_to "" %></li>-->
          <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
        <% else %>
          <li class="nav-item"><%= link_to "About", about_path %></li>
          <li class="nav-item"><%= link_to "練習する", questions_path %></li>
          <li class="nav-item"><%= link_to "Signup", new_user_registration_path %></li>
          <li class="nav-item"><%= link_to "Login", new_user_session_path %></li>
        <% end %>
        </nav>
      </div>
    </div>
  </nav>

</header>